.places {
  max-width: 984px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  list-style-type: none;
  gap: 80px;
}
  
@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
  }
}
  
@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    gap: 73px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    max-width: 320px;
    gap: 50px;
  }
}