.place__website {
    align-self: end;
    display: flex;
    flex-direction: column;
    grid-area: website;
  }
  
  @media screen and (max-width: 767px) {
    .place__website {
      align-self: start;
      
    }
  }

  @media screen and (max-width: 425px){
  .place__website {
    padding: 0 16px;
}
  }